/* HTML elements */
body {
  margin-bottom: 0;
  padding-top: 0;
  background-color: #f9f9f9;
  font-family: 'Source Sans Pro';
}
h1,
h2 {
  font-family: 'Lato';
}
h2 {
  margin-top: 5rem;
}
.entry-content .row:first-of-type h2 {
  margin-top: 0;
}
p {
  font-size: 1.25rem;
  color: #616b6d;
}

/* Colors */
.thorson-gold {
  color: #ba8748;
}
.bg-thorson-gold {
  background-color: #ba8748;
}
.border-thorson-gold {
  border-color: #ba8748 !important;
}
.thorson-red {
  color: #bf2e1a;
}
.bg-thorson-red {
  background-color: #bf2e1a;
}
.border-thorson-red {
  border-color: #bf2e1a !important;
}
.thorson-grey {
  color: #616366;
}
.bg-thorson-grey {
  background-color: #616366;
}
.border-thorson-grey {
  border-color: #616366 !important;
}
.bg-thorson-nav {
  background-color: rgba( 0, 0, 0, 0.7 );
}

/* Navbar */
.navbar-brand {
  display: none;
  max-width: calc( 100vw - 120px );
}


/* Gallery */
.card {
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
}
.card img {
  filter: grayscale(1);
  background-color: #f9f9f9;
}
.card p {
  margin-bottom: 0;
}
.card-body {
  display: none;
}

/* Post thumbnail */
article.has-post-thumbnail{
  padding-top: 100vh;
  padding-bottom: 0;
  margin: 0 -15px;
}
.has-post-thumbnail .entry-header {
  margin-top: -60vh;
  padding-bottom: 60vh;
}
.entry-heading,
.has-post-thumbnail .entry-heading {
  margin: 0 auto;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-weight: 700;
}

.entry-content {
  margin-top: 50vh;
}

/* Home page */
.home main:after{
  position: absolute;
  bottom: 75px;
  display: inline-block;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  height: 1.45em;
  left: calc( 50vw - 1.45em / 2 );
  transform: rotate(135deg);
  width: 1.45em;
  color: rgba( 158, 116, 66, 0.25 );
}
.home p {
  text-align: center;
}
.home .entry-content {
  background-color: #f9f9f9;
  margin-top: 150vh;
}
#background-image {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 100vh;
  background-image: URL( '/wp-content/themes/thorson/assets/images/thorson-logo.svg' );
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 70vw;
  z-index: -1;
}
.home .entry-content .row:nth-of-type(1) p {
  background-color: #f9f9f9;
  margin-bottom:0;
  padding-top: 10rem;
  font-size: 200%;
  color: #b68546;
  font-weight: 700;
  font-family: 'Lato';
}
.home .entry-content .row:nth-of-type(2) p {
  background-color: #f9f9f9;
  padding-top: 5rem;
}
.home .entry-content .row:last-of-type {
  margin-bottom: 0;
}
.home .gallery {
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.home .entry-header {
  display: none;
}

/* Call to action */
#call-to-action {
  position: absolute;
  top: 45vh;
  left: 0;
  right: 0;
  text-align: center;
}
#call-to-action p {
  color: #ffffff;
  font-size: 160%;
}
.btn.cta {
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 1rem 2rem;
}

/* Media queries */
@media ( max-width: 479px ) {
  .img {
    width: 100%;
  }
}
@media ( min-width: 480px ) {
  #call-to-action {
    top: 15vh;
  }
}
@media ( max-width: 767px ) {
  .card {
    flex-basis: calc( 50% - 2rem ) !important;
  }
}
@media ( min-width: 768px ) {
  #call-to-action {
    top: 25vh;
  }
  .navbar.fixed-top {
    border-bottom: 0.15rem solid #ba8748bb;
  }
  .navbar-dark.bg-thorson-nav .nav-item {
    margin: 5px;
  }

  .footer.navbar .text-center {
    width: 100%;
  }
}
@media (min-width: 992px ) {
  #call-to-action {
    top: 45vh;
  }
  article.has-post-thumbnail{
    padding-top: 100vh;
  }
  .entry-content {
    margin-top: 0;
  }
  #background-image {
    background-size: 800px;
    background-attachment: fixed;
    background-position: center center !important;
  }
}
@media ( orientation:portrait ) {
  article.has-post-thumbnail {
    background-size: initial;
    background-position: top center;
    background-position-x: 25%;
    background-position-y: top;
  }
}
